<style>

	* {
    		box-sizing: border-box;
    	}
	body {
		font-family: "verdana", "sans-serif";
		font-size: 13px;
		text-align: justify;
	}
	nav ul {
			width: 100%;
			height: auto;
			margin-left: 40px;
			padding: 14px;
			background-color: #FFFFFF;
			display: inline-block;
		}
		nav li {
			display: inline;
			color: #000000;
			text-decoration: none;
			padding: 10px;
			font-size: 14px;
			background-color: lavender;
			border-radius: 5px;
		}
		a {
			text-decoration: none;
			color: #000000;
		}
		a:hover {
			text-decoration: none;
			color: #000000;
			width: 100%;
			height: auto;
			padding: 10px;
		}
		#leftcol {
			float: left;
			margin-top: 50px;
			margin-left: 55px;
			border: 1px solid black;
			padding: 10px;
		}
		#rightcol {
			float: left;
			width: 600px;
			height: 500px;
			margin-top: 90px;
			margin-left: 50px;
		}
	
</style>
